<nav class="navbar navbar-default navbar-fixed-top">

	<div class="pull-left mtm mlm">
		@(Html.Partial("_AddThisCountPartial"))
	</div>

	<div class="container">
		<div class="pull-right mtm">
			@(Html.Partial("Paypal"))
		</div>
		<div class="pull-right mtm mrl">
			<a class="pull-right navbar-brand uppercase bold" href="@(Url.Action("",""))">Camalot.Common</a>
		</div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" data-toggle="dropdown"><i class="mrs fa fa-book text-white"></i><span class="mrs">Documentation</span><b class="caret caret-white"></b></a>
					<ul class="dropdown-menu">
						<li><a href="@Url.Action("Index","Home")"><i class="mrs fa fa-home"></i><span>Home</span></a></li>
						<li class="divider"></li>
						<li><a href="@Url.Action("Index","Home")#about" class="track"><i class="mrs fa fa-question-circle"></i><span>About</span></a></li>
						<li><a href="@Url.Action("Index","Home")#nuget" class="track"><i class="mrs fa fa-download"></i><span>Nuget</span></a></li>
						<li class="divider"></li>
						<li><a href="@Url.Action("Index", "Documentation", new { id = "Camalot.Common" })" class="track"><i class="mrs fa fa-code"></i><span>Camalot.Common</span></a></li>
						<li><a href="@Url.Action("Index", "Documentation", new { id = "Camalot.Common.Mvc" })" class="track"><i class="mrs fa fa-code"></i><span>Camalot.Common.Mvc</span></a></li>
						<li class="divider"></li>
						<li><a href="@Url.Action("","")#license" class="track"><i class="mrs fa fa-certificate"></i><span>License</span></a></li>
					</ul>
				</li>
				<li class="divider-vertical"></li>
				<li><a href="https://github.com/camalot/camalot.common/star" class="track" title="Stars"><i class="fa fa-star mrs"></i><span data-github="stargazers_count" class="badge"></span></a></li>
				<li><a href="https://github.com/camalot/camalot.common/fork" class="track" title="Forks"><i class="fa fa-code-fork mrs"></i><span data-github="forks_count" class="badge"></span></a></li>
				<li><a href="https://github.com/camalot/camalot.common/" class="track"><i class="mrs fa fa-github-square text-white"></i><span>Fork Me!</span></a></li>
				<li class="divider-vertical"></li>
				<li><a href="@Url.Action("","")#license" class="track"><i class="mrs fa fa-certificate text-white"></i><span>License</span></a></li>
				<li class="divider-vertical"></li>
				<li class="dropdown">
					<a href="#" data-toggle="dropdown"><i class="mrs fa fa-bookmark text-white"></i><span class="mrs">Other Projects</span><b class="caret caret-white"></b></a>
					<ul class="dropdown-menu">
						<li><a href="http://endpointmvc.bit13.com/"><i class="mrs icon-endpointmvc"></i><span>EndpointMvc</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>


</nav>