@{
	var scrollTopOffset = -50;
}
<nav class="navbar navbar-default navbar-fixed-top">
	
	<div class="pull-left mtm mlm">
		@(Html.Partial("_AddThisCountPartial"))
	</div>

	<div class="container">
		<div class="pull-right mtm">
			@(Html.Partial("Paypal"))
		</div>
		<div class="pull-right mtm mrl">
			<span class="logo small logo-hidden" data-scroll-show-low="200" data-scroll-toggle="logo-hidden"></span>
			<a class="pull-right navbar-brand uppercase bold" href="@(Url.Action("",""))">@(Html.SiteName())</a>
		</div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" data-toggle="dropdown"><i class="mrs fa fa-book text-white"></i><span class="mrs">Documentation</span><b class="caret caret-white"></b></a>
					<ul class="dropdown-menu">
						<li><a href="@Url.Action("","")#home" data-scroll="click" data-scroll-offset="@(scrollTopOffset)"><i class="mrs fa fa-home"></i><span>Home</span></a></li>
						<li class="divider"></li>
						<li><a href="@Url.Action("","")#about" data-scroll="click" data-scroll-offset="@(scrollTopOffset)" class="track"><i class="mrs fa fa-question-circle"></i><span>About</span></a></li>
						<li><a href="@Url.Action("","")#nuget" data-scroll="click" data-scroll-offset="@(scrollTopOffset)" class="track"><i class="mrs fa fa-download"></i><span>Nuget</span></a></li>
						<li class="divider"></li>
						<li><a href="@Url.Action("","")#license" data-scroll="click" data-scroll-offset="@(scrollTopOffset)" class="track"><i class="mrs fa fa-certificate"></i><span>License</span></a></li>
						<li class="divider"></li>
						<li><a href="@Url.Action("","")#documentation" data-scroll="click" data-scroll-offset="@(scrollTopOffset)" class="track"><i class="mrs fa fa-book"></i><span>Documentation</span></a></li>
					</ul>
				</li>
				<li class="divider-vertical"></li>
				<li class="expandable-label hidden" data-scroll-show-low="265" data-scroll-toggle="hidden"><a href="https://madb.codeplex.com/" target="_blank"><i class="fa fa-external-link" title="Project"></i><span class="label">Project</span></a></li>
				<li class="expandable-label hidden" data-scroll-show-low="265" data-scroll-toggle="hidden"><a href="https://madb.codeplex.com/SourceControl/latest#trunk/Managed.AndroidDebugBridge/" target="_blank"><i class="fa fa-code-fork" title="Source"></i><span class="label">Source</span></a></li>
				<li class="expandable-label hidden" data-scroll-show-low="265" data-scroll-toggle="hidden"><a href="https://madb.codeplex.com/releases" target="_blank"><i class="fa fa-download" title="Download"></i><span class="label">Download</span></a></li>
				<li class="expandable-label hidden" data-scroll-show-low="265" data-scroll-toggle="hidden"><a href="https://madb.codeplex.com/workitem/list/basic" target="_blank"><i class="fa fa-bug" title="Issues"></i><span class="label">Issues</span></a></li>
				<li class="expandable-label hidden" data-scroll-show-low="265" data-scroll-toggle="hidden"><a href="https://madb.codeplex.com/discussions" target="_blank"><i class="fa fa-quote-left" title="Discussions"></i><span class="label">Discussions</span></a></li>
				<li class="divider-vertical hidden" data-scroll-show-low="265" data-scroll-toggle="hidden"></li>
				<li><a href="@Url.Action("","")#license" data-scroll="click" data-scroll-offset="@(scrollTopOffset)" class="track"><i class="mrs fa fa-certificate text-white"></i><span>License</span></a></li>
				<li class="divider-vertical"></li>
				<li class="dropdown">
					<a href="#" data-toggle="dropdown"><i class="mrs fa fa-bookmark text-white"></i><span class="mrs">Other Projects</span><b class="caret caret-white"></b></a>
					<ul class="dropdown-menu">
						<li><a href="http://endpointmvc.bit13.com/"><i class="mrs icon-endpointmvc"></i><span>EndpointMvc</span></a></li>
						<li><a href="http://camalotcommon.bit13.com/"><i class="mrs icon-camalotcommon"></i><span>Camalot.Common</span></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>


</nav>