@using Madb.Site.Models;
@{
	var navPosition = NavigationPositions.Right;
	var scrollTopOffset = -70;
}

<div class="epm-nav-host @(navPosition.ToString().ToLower()) expanded">
	<div class="epm-nav-toggle" title="Close" data-epm-target=".epm-nav" data-epm-toggle="expanded">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</div>
</div>
<div class="@(navPosition.ToString().ToLower()) epm-nav expanded epm-nav-primary">
	<ul class="nav nav-expanded">
		<li class="no-filter nav-search man mbs pan">
			<div class="form-group man pan">
				<input type="search" placeholder="Search" class="search-field man" />
				<button type="button" class="clear fa fa-search" data-search-icon="fa-search" data-search-title="Search" data-clear-icon="fa-close" data-clear-title="Clear"></button>
			</div>
		</li>
		<li class=""><a data-scroll="click" href="#home"><i class="mrs fa fa-home"></i><span>Home</span></a></li>
		<li class="divider"></li>
		<li><a data-scroll="click" data-scroll-offset="@(scrollTopOffset)" href="#about" class="track"><i class="mrs fa fa-question-circle"></i><span>About</span></a></li>
		<li><a data-scroll="click" data-scroll-offset="@(scrollTopOffset)" href="#nuget" class="track"><i class="mrs fa fa-download"></i><span>Nuget</span></a></li>
		<li class="divider"></li>
		<li><a data-scroll="click" data-scroll-offset="@(scrollTopOffset)" href="#license" class="track"><i class="mrs fa fa-certificate"></i><span>License</span></a></li>
		<li class="divider"></li>
		@Html.Action("Navigation", new { controller = "Documentation", id = "Managed.Adb" })
	</ul>
</div>

