@model Madb.Site.Models.Documentation.NamespaceModel

@{
	ViewBag.Title = Model.Name;
}

@section featured {
	<div id="home"></div>
	<section class="featured jumbotron jumbotron-warning mbl">
		<div class="container">
			<div class="title">
				<i class="logo pull-left"></i>
				<h1>@(Html.SiteName()).</h1>
				<h2 class="muted">A managed port of the Android Debug Bridge.</h2>
				<hr />
				<p class="text-center">
					<a href="https://madb.codeplex.com/" target="_blank" class="btn btn-lg"><i class="fa fa-external-link-square mrs" title="Project"></i><span class="">Project</span></a>
					<a href="https://madb.codeplex.com/SourceControl/latest#trunk/Managed.AndroidDebugBridge/" target="_blank" class="btn btn- btn-lg"><i class="fa fa-code-fork mrs" title="Source"></i><span class="">Source</span></a>
					<a href="https://madb.codeplex.com/releases" target="_blank" class="btn btn-lg"><i class="fa fa-download mrs" title="Download"></i><span class="">Download</span></a>
					<a href="https://madb.codeplex.com/workitem/list/basic" target="_blank" class="btn btn-lg"><i class="fa fa-bug mrs" title="Issues"></i><span class="">Issues</span></a>
					<a href="https://madb.codeplex.com/discussions" target="_blank" class="btn btn-lg"><i class="fa fa-quote-left mrs" title="Discussions"></i><span class="">Discussions</span></a>
				</p>
			</div>
		</div>
	</section>
}

@(Html.Partial("_AboutPartial"))
@(Html.Partial("_NugetPartial"))
@(Html.Partial("_LicensePartial"))

<div id="documentation">
	@(Html.Partial("_AdPartial"))
	<div class="panel panel-success pan">
		<div class="panel-heading"><h1 class="zero lowercase"><i class="fa fa-book mrm"></i>Documentation</h1></div>
		<div class="panel-body">
			@foreach(var ns in Model.Namespaces) {
				if(!ns.Ignore) {
					@(Html.Partial("_AdPartial"))
					@Html.DisplayFor(d => ns)
				}
			}
		</div>
	</div>
</div>
